<%-include ('header')%>

  <section class="section-hero" style="height:100vh;">
    <div class="hero">
      <div class="hero-text-box">
        <h1 class="heading-primary">Highest Quality Care For Pets You'll Love</h1>
        <p class="hero-description">
          Welcome to our compassionate veterinary clinic! Our dedicated team and
          state-of-the-art facilities prioritize your pet's well-being. From
          routine check-ups to specialized treatments, we provide tailored care
          for your furry family members, ensuring they lead healthy, happy lives
          by your side.
        </p>
        <a href="/appointment" class="btn btn--full margin-right-sm">Book your appointment</a>
        <a href="#" class="btn btn--outline">Learn more &darr;</a>
        <div class="delivered-meals">
          <div class="delivered-imgs">
            <img src="images/customers/customer-1.jpg" alt="Customer photo" />
            <img src="images/customers/customer-2.jpg" alt="Customer photo" />
            <img src="images/customers/customer-3.jpg" alt="Customer photo" />
            <img src="images/customers/customer-4.jpg" alt="Customer photo" />
            <img src="images/customers/customer-5.jpg" alt="Customer photo" />
            <img src="images/customers/customer-6.jpg" alt="Customer photo" />
          </div>
          <p class="delivered-text"><span>100+</span> Pet helped last year!</p>
        </div>
      </div>
      <div class="hero-img-box">
        <img src="images/hero.png" class="hero-img" alt="playful and friendly dog" />
      </div>
    </div>
  </section>

  <div class="container-fluid">
    <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="/images/pet-owner-1.jpg" class="d-block w-100" height="500px" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-light" style="font-size: 50px">
              Comprehensive Pet Healthcare
            </h5>
            <p class="text-light" style="font-size: 20px">
              Trust our experienced veterinarians to provide complete healthcare
              solutions for your beloved pets. From routine check-ups to
              specialized treatments, we prioritize your pet's well-being.
            </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="/images/pet-owner-2.jpg" class="d-block w-100" height="500px" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-light" style="font-size: 50px">
              Shop Pet Essentials
            </h5>
            <p class="text-light" style="font-size: 20px">
              Explore our extensive collection of pet accessories and necessities.
              From premium food to stylish collars, find everything your furry
              friend needs to live a happy and healthy life.
            </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="/images/pet-owner-3.jpg" class="d-block w-100" height="500px" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-light" style="font-size: 50px">Lost & Found Pets</h5>
            <p class="text-light" style="font-size: 20px">
              Join our community in reuniting lost pets with their families. If
              you've lost a pet or found one in need, our platform connects pet
              owners and compassionate individuals to facilitate happy reunions.
            </p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!-- SERVICES SECTION -->

  <section class="section-service">
    <div class="container">
      <span class="subheading">Our Services</span>
      <h2 class="heading-secondary">
        Compassionate care for every paw: Your trusted veterinary partner.
      </h2>
    </div>
    <div class="row container">
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa-solid fa-soap"></i>
          </div>
          <div class="feature-content">
            <h5 class="heading-tertiary">Grooming</h5>
            <p class="service-description">
              Grooming isn't just about looks; it's essential for your pet's
              health and happiness. Regular sessions strengthen the bond between
              you and your furry friend while keeping them clean, comfortable, and
              healthy.
            </p>
          </div>
        </div>
      </div>
      <!-- / -->
      <!-- feaure box -->
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa-solid fa-tooth"></i>
          </div>
          <div class="feature-content">
            <h5 class="heading-tertiary">Dental Care</h5>
            <p class="service-description">
              Dental care is essential for your pet's overall health. Regular
              brushing, dental check-ups, and professional cleanings can prevent
              dental issues and keep your furry friend happy and healthy.
            </p>
          </div>
        </div>
      </div>
      <!-- / -->
      <!-- feaure box -->
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa-solid fa-house-medical"></i>
          </div>
          <div class="feature-content">
            <h5 class="heading-tertiary">Diagnostic services</h5>
            <p class="service-description">
              Accurate diagnostic services are the cornerstone of quality
              veterinary care. From advanced imaging to laboratory tests, our
              diagnostic services ensure precise and timely assessments to guide
              your pet's treatment and recovery.
            </p>
          </div>
        </div>
      </div>
      <!-- / -->
      <!-- feaure box -->
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa-solid fa-paw"></i>
          </div>
          <div class="feature-content">
            <h5 class="heading-tertiary">Lost and Found Pets</h5>
            <p class="service-description">
              Our lost and found pet services offer peace of mind in moments of
              uncertainty. With dedicated resources and community outreach, we
              help reunite beloved pets with their families, ensuring happy
              endings for both furry friends and their owners
            </p>
          </div>
        </div>
      </div>
      <!-- feaure box -->
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
          <div class="feature-content">
            <h5 class="heading-tertiary">Shopping</h5>
            <p class="service-description">
              Our vet clinic offers seamless e-commerce integration. Easily
              schedule appointments, order prescription refills, and purchase pet
              care products online, ensuring quick and convenient access to all
              your pet's needs.
            </p>
          </div>
        </div>
      </div>
      <!-- feaure box -->
    </div>
  </section>

  <section class="section-testimonials">
    <div class="testimonials-container">
      <span class="subheading">Testimonials</span>
      <h2 class="heading-secondary">
        Once you experience the exceptional care and dedication at our vet clinic,
        you won't want to go anywhere else.
      </h2>

      <div class="testimonials">
        <figure class="testimonial">
          <img class="testimonial-img" alt="Photo of customer Dave Bryson" src="images/customers/dave.jpg" />
          <blockquote class="testimonial-text">
            Paws down, the best care our furry family member has ever received!
            Thank you, SuperVet, for your expertise, compassion, and making every
            visit tail-waggingly awesome
          </blockquote>
          <p class="testimonial-name">&mdash; Dave Bryson</p>
        </figure>

        <figure class="testimonial">
          <img class="testimonial-img" alt="Photo of customer Ben Hadley" src="images/customers/ben.jpg" />
          <blockquote class="testimonial-text">
            With SuperVet, our pet's health is in safe paws! Professionalism,
            empathy, and a genuine love for animals make every visit a treat.
            Highly recommended
          </blockquote>
          <p class="testimonial-name">&mdash; Ben Hadley</p>
        </figure>

        <figure class="testimonial">
          <img class="testimonial-img" alt="Photo of customer Steve Miller" src="images/customers/steve.jpg" />
          <blockquote class="testimonial-text">
            From routine check-ups to emergencies, SuperVet is our go-to for
            top-notch care. They treat our furry friend like family, and that's
            priceless!
          </blockquote>
          <p class="testimonial-name">&mdash; Steve Miller</p>
        </figure>
        <figure class="testimonial">
          <img class="testimonial-img" alt="Photo of customer Hannah Smith" src="images/customers/hannah.jpg" />
          <blockquote class="testimonial-text">
            Finding SuperVet was like finding a treasure for our pet's health.
            With their expertise and warmth, our worries melt away. Grateful
            doesn't even begin to cover it!
          </blockquote>
          <p class="testimonial-name">&mdash; Hannah Smith</p>
        </figure>
      </div>
    </div>

    <div class="gallery">
      <figure class="gallery-item">
        <img src="images/gallery/gallery-1.jpg" alt="Photo of beautiful Pets" />
        <!-- <figcaption>Caption</figcaption> -->
      </figure>
      <figure class="gallery-item">
        <img src="images/gallery/gallery-2.jpg" alt="Photo of beautiful Pets" />
      </figure>
      <figure class="gallery-item">
        <img src="images/gallery/gallery-3.jpg" alt="Photo of beautiful Pets" />
      </figure>
      <figure class="gallery-item">
        <img src="images/gallery/gallery-4.jpg" alt="Photo of beautiful Pets" />
      </figure>
      <figure class="gallery-item">
        <img src="images/gallery/gallery-5.jpg" alt="Photo of beautiful Pets" />
      </figure>
      <figure class="gallery-item">
        <img src="images/gallery/gallery-6.jpg" alt="Photo of beautiful Pets" />
      </figure>
      <figure class="gallery-item">
        <img src="images/gallery/gallery-7.jpg" alt="Photo of beautiful Pets" />
      </figure>
      <figure class="gallery-item">
        <img src="images/gallery/gallery-8.jpg" alt="Photo of beautiful Pets" />
      </figure>
      <figure class="gallery-item">
        <img src="images/gallery/gallery-9.jpg" alt="Photo of beautiful Pets" />
      </figure>
      <figure class="gallery-item">
        <img src="images/gallery/gallery-10.jpg" alt="Photo of beautiful Pets" />
      </figure>
      <figure class="gallery-item">
        <img src="images/gallery/gallery-11.jpg" alt="Photo of beautiful Pets" />
      </figure>
      <figure class="gallery-item">
        <img src="images/gallery/gallery-12.jpg" alt="Photo of beautiful Pets" />
      </figure>
    </div>
  </section>

  <%-include ('footer')%>